
@font-face {
    font-family: 'fontGame';
    src: url('../font/Pony.ttf'); 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'fontGame', sans-serif;
    background-image: url('../img/bgmovie.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}